# OS Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Build and Tooling
node_modules/
dist/
build/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Neovim / Editors
*.swp
*.swo
.netrwhist
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
